<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register User</title>
    </h:head>
    <h:body>
        <h:form>
            <center>
                <h:outputText id="oHeading" value="Register User"/>
            </center>
            
            <h:panelGrid columns="2" border="0">
                
                
                <h:outputLabel id="oEMail" value="E-Mail: " for="iEMail"/>
                <h:inputText id="iEMail" value="#{logInBean.email}"/>
                <br></br>
                
                <h:outputLabel id="oPassword" value="Password: " for="iPassword"/>
                <h:inputText id="iPassword" value="#{logInBean.password}"/>
                
            </h:panelGrid>
 
        </h:form>
    </h:body>
</html>
