<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Register User</title>
    </h:head>
    <h:body>
        <h:form>
            <center>
                <h:outputText id="oHeading" value="Register User"/>
            </center>
            
            <h:panelGrid columns="2" border="0">
                <f:facet name="header">
                    
                </f:facet>
                
                <h:outputLabel id="oFName" value="Vorname: " for="iFName"/>
                <h:inputText id="iFName" value="#{firmlingBean.person.firstname}"/>
                <f:facet name="header">
                    <h:outputLabel id="oLName" value="Nachname: " for="iLName"/>
                    <h:inputText id="iLName" value="#{firmlingBean.person.lastname}"/>
                    <br></br>
                </f:facet>
                
                <f:facet name="header">
                    <h:outputLabel id="oEMail" value="E-Mail: " for="iEMail"/>
                <h:inputText id="iEMail" value="#{firmlingBean.person.mail}"/>
                <br></br>
                </f:facet>
               
                <f:facet name="header">
                    <h:outputLabel id="oPLZ" value="PLZ: " for="iPLZ"/>
                    <h:inputText id="iPLZ" value="#{firmlingBean.person.plz}"/>
                    <br></br>
                </f:facet>
                
            </h:panelGrid>
 
        </h:form>
    </h:body>
</html>
